@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap');


:root {
    --primary-color: #00040b;
    --primary-light: #a0b3e5;
    --orange-color: #f35405;

}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #00040b;
    color: #eee;
}


h1,
h2,
h4 {
    font-family: 'Roboto', sans-serif;

}
h3{
    font-family: 'Roboto', sans-serif;
    color: #f35405;
    text-decoration:underline;
    font-weight: bolder;
    margin-bottom: 20px;
}
.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    z-index: 1000;
}

.nav-bar.active {

    background-color: black;
    box-shadow: 1px 1px 2px #a0b3e5;

}

.content {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1.6rem 1rem;
}

.nav-bar .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-bar .site-logo {
    padding: 0.5rem;
}

.nav-bar .site-logo .logo-link {
    font-weight: 500;
    font-size: 22px;
    line-height: 22px;
    text-transform: capitalize;
    color: #fff;
    border-top: 4px solid #fff;
}

.nav-bar .navigation {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.4rem;
}

.nav-bar .navigation .link a {
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    border-top: 1px solid transparent;
    transition: all 0.6s;
}

.nav-bar .navigation .link:hover a {
    color: #f35405;
    border-top: 1px solid #f35405;
}
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 200px;
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin:20px;

}
.card img{
    width: 100%;
    height:auto;
}
.card-content{
    padding:16px;
}
.card.content h3{
    font-size: 28px;
    margin-bottom: 8px;
}
.card-content p{
    color: #666;
    font-size: 15px;
    line-height: 1.3;

}
.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}
.title{
    text-align: center;
    margin-top: 250px;
    text-decoration: overline;
    font-weight: bolder;
    letter-spacing: 1px;
    font-size:8ch;
}
video
{
    align-items: center;
    margin-left: 580px;
    margin-top: 50px;
    height: 600px;
}
.video{
    margin-bottom: 50px;
}